*{
  box-sizing: border-box;
}

body{
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.left-bar{
  background-color: #354052;
  height: 1500px;
  width: 15%;
  display: flex;
  flex-direction: column;
}

.user-icon-area{
  height: 200px;
  width: 100%;
  border-bottom: 2px solid #30394A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photo-container{
  height: 120px;
  width: 120px;
  background-color: lightgray;
  border-radius: 100%;
  background-image: url(images/jared.jpg);
  background-repeat: no-repeat;
  background-size: 125%;
  background-position: center;
}

h6{
  margin: 0;
  color: #A2ADBF;
  margin-top: 15px;
}

.main-left-nav, .admin-left-nav, .categories-left-nav{
  height: 250px;
  width: 100%;
  border-bottom: 2px solid #30394A;
  display: flex;
}

.mobile-top-nav{
  display: none;
}

ul{
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  color: #A2ADBF;
  font-size: 80%;
  margin-bottom: 20px;
  margin-top: 20px;
}

li{
  width: 100%;
  padding-left: 10%;
}

li:hover{
  background-color: #30394A;
  color: white;
  border-left: 2px solid #179EF6;
}

.small-text{
  font-size: 100%;
}

input[type="checkbox"]{
  margin-right: 10%;
}

.icons{
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.admin-left-nav{
  height: 250px;
  width: 100%;
  border-bottom: 2px solid #30394A;
}

.right{
  background-color: #EDF2F6 ;
  height: 1500px;
  width: 85%;
}

.search-nav{
  height: 80px;
  width: 100%;
  background-color: #FFFFFF;
  border-bottom: 2px solid gray;
  margin: 0
}

.drop-down-box{
  width: 6%;
  height: 100%;
  margin-right: -4px;
  border-right: 2px solid gray;
  border-left: 2px solid gray;
  background-color: #FFFFFF;
  display: inline-block;
  padding: 0;
}

.drop-down-box-1, .drop-down-box-3{
  border-left: 0;
}

.drop-down-box-4{
  border-right: 0;
  border-left: 0;
}

.drop-down-box-1{
  background-image: url('images/menutop.svg');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.drop-down-box-1:hover{
  background-color: #16A4F7;
  background-image: url('images/menutop-hover.svg');
}

.left-arrow{
  width: 10px;
  height: 10px;
  float: left;
  position: absolute;
  top: 35px;
  margin-left: 15%;
}

.drop-down-box-2{
  background-image: url('images/add-user.svg');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.drop-down-box-2:hover{
  background-color: #16A4F7;
  background-image: url('images/add-user-hover.svg');
}

.drop-down-box-3{
  background-image: url('images/cal.svg');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.drop-down-box-3:hover{
  background-color: #16A4F7;
  background-image: url('images/cal-hover.svg');
}

.drop-down-box-4{
  background-image: url('images/dots.svg');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.drop-down-box-4:hover{
  background-color: #16A4F7;
  background-image: url('images/dots-hover.svg');
}

.search-bar{
  width: 76%;
  height: 100%;
  background-color: #FFFFFF;
  display: inline-block;
  padding: 0;
  margin-right: -4px;
  position: relative;
}

.mag-glass{
  width: 20px;
  height: 20px;
  float: left;
  position: absolute;
  top: 30px;
  left: 20px;
}

.search-input{
  width: 80%;
  left: 50px;;
  position: absolute;
  top: 30px;
  border: 0;
}

.below-search{
  height: 225px;
  width: 100%;
  background-color: #FFFFFF;
  border-bottom: 2px solid gray;
}

.chart-area{
  height: 350px;
  width: 100%;
  background-color: #EDF2F6;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.circle-area{
  width: 45%;
  height: 100%;
  border-bottom: 2px solid gray;
  margin-left: 3%;
}

.circle-arrow-button{
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #FFFFFF;
  position: absolute;
  left: 48.8%;
  top: 330px;
  background-image: url('images/up-arrow.svg');
  background-size: 13px 13px;
  background-repeat: no-repeat;
  background-position: center;
}

.circle-arrow-button:hover{
  background-image: url('images/up-arrow-hover.svg');
  background-color: #16A4F7;
}

.bar-area{
  width: 45%;
  height: 100%;
  border-bottom: 2px solid gray;
  margin-right: 3%;
}

.bottom-area{
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.bottom-left{
  width: 60%;
  height: 708px;
  background-color: #FFFFFF;
  margin-top: 50px;
}

.job-description-box{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #FFFFFF;
  height: 70px;
  width: 100%;
  background-color: #6F7E95;
  position: relative;
}

.job-description-text{
  margin-left: 5%;
}

.edit-button{
  height: 30px;
  font-size: 14px;
  position: absolute;
  left: 27%;
}

.job-info-container{
  width: 90%;
  border-bottom: 2px solid #EDF2F6;
  height: 70px;
  display: flex;
  align-items: center;
  margin-left: 5%;
}

.job-info-type{
  width: 20%;
}

.job-info-content{
  margin-left: 5%;
}

.job-info-big-box{
  height: 150px;
  align-items: flex-start;
  padding-top: 13px;
}

.job-info-content-big{
  width: 75%;
}

.gavin-img{
  height: 45px;
  width: 45px;
  border-radius: 100%;
}

.gavin-text{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gavin{
  margin-left: 10px;
}

.bottom-right{
  width: 29%;
  height: 708px;
  background-color: #FFFFFF;
  margin-top: 50px;
}

@media (max-width: 1400px){
  .drop-down-box{
    width: 8%;
  }

  .search-bar{
    width: 68%;
  }
}

@media (max-width: 1000px){
  .left-bar{
    width: 147px;
  }

  .drop-down-box{
    width: 10%;
  }

  .search-bar{
    width: 60%;
  }
}


@media (max-width: 600px){

  body{
    flex-direction: column;
  }

  .left-bar{
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 1;
  }

  .contain{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .user-icon-area{
    height: inherit;
    width: 120px;
  }

  .photo-container{
    width: 80px;
    height: 80px;
    justify-content: center;
  }

  .mobile-top-nav{
    font-size: 80%;
    display: flex;
    justify-content: space-around;
    width: 300px;
    font-size: 70%;
    margin-right: 5%;
  }

  h2{
    margin: 0;
  }

  h6{
    margin: 0;
    display: none;
  }

  .main-left-nav,.admin-left-nav{
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    height: 100px;
  }

  .main-left-nav, .admin-left-nav, .categories-left-nav{
    display: none;
  }

  .photo-container{
    height: 65px;
    width: 65px;
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 10px;
    border: 2px solid #A2ADBF;
  }

  .mobile-top-nav{
    display: flex;
    justify-content: flex-end;
  }

  .mobile-menu-button{
    height: 55px;
    width: 55px;
  }

  .drop-down-box{
    display: none;
  }

  .search-nav{
    height: 40px;
    margin-top: 100px;
    position: fixed;
    z-index: 1;
  }

  .search-bar{
    width: 100%;
  }

  .mag-glass{
    top: 10px;
  }

  .search-input{
    top: 10px;
  }

  .right{
    width: 100%;
  }

  .chart-area{
    flex-direction: column;
    align-items: center;
  }

  .circle-area{
    width: 90%;
    margin-left: 0;
  }

  .bar-area{
    width: 90%;
    margin-right: 0;
  }

  .bottom-area{
    flex-direction: column;
    align-items: center;
  }

  .bottom-left{
    width: 95%;
  }
}
