*{
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body{
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.left-bar{
  background-color: #354052;
  height: 1500px;
  width: 15%;
  display: flex;
  flex-direction: column;
}

.user-icon-area{
  height: 200px;
  width: 100%;
  border-bottom: 2px solid #30394A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photo-container{
  height: 120px;
  width: 120px;
  background-color: lightgray;
  border-radius: 100%;
  background-image: url('images/jared.jpg');
  background-repeat: no-repeat;
  background-size: 125%;
  background-position: center;
}

h6{
  margin: 0;
  color: #A2ADBF;
  margin-top: 15px;
}

.main-left-nav, .admin-left-nav, .categories-left-nav{
  height: 250px;
  width: 100%;
  border-bottom: 2px solid #30394A;
  display: flex;
}

.mobile-top-nav{
  display: none;
}

ul{
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  color: #A2ADBF;
  font-size: 80%;
  margin-bottom: 20px;
  margin-top: 20px;
}

li{
  width: 100%;
  padding-left: 10%;
}

li:hover{
  background-color: #30394A;
  color: white;
  border-left: 2px solid #179EF6;
}

.small-text{
  font-size: 100%;
}

input[type="checkbox"]{
  margin-right: 10%;
}

.icons{
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.admin-left-nav{
  height: 250px;
  width: 100%;
  border-bottom: 2px solid #30394A;
}

.right{
  background-color: #EDF2F6 ;
  height: 1500px;
  width: 85%;
}

.search-nav{
  height: 80px;
  width: 100%;
  background-color: #FFFFFF;
  border-bottom: 2px solid gray;
  margin: 0
}

.drop-down-box{
  width: 6%;
  height: 100%;
  margin-right: -4px;
  border-right: 2px solid gray;
  border-left: 2px solid gray;
  background-color: #FFFFFF;
  display: inline-block;
  padding: 0;
}

.drop-down-box-1, .drop-down-box-3{
  border-left: 0;
}

.drop-down-box-4{
  border-right: 0;
  border-left: 0;
}

.drop-down-box-1{
  background-image: url('images/menutop.svg');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.drop-down-box-1:hover{
  background-color: #16A4F7;
  background-image: url('images/menutop-hover.svg');
}

.left-arrow{
  width: 10px;
  height: 10px;
  float: left;
  position: absolute;
  top: 35px;
  margin-left: 15%;
}

.drop-down-box-2{
  background-image: url('images/add-user.svg');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.drop-down-box-2:hover{
  background-color: #16A4F7;
  background-image: url('images/add-user-hover.svg');
}

.drop-down-box-3{
  background-image: url('images/cal.svg');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.drop-down-box-3:hover{
  background-color: #16A4F7;
  background-image: url('images/cal-hover.svg');
}

.drop-down-box-4{
  background-image: url('images/dots.svg');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.drop-down-box-4:hover{
  background-color: #16A4F7;
  background-image: url('images/dots-hover.svg');
}

.search-bar{
  width: 76%;
  height: 100%;
  background-color: #FFFFFF;
  display: inline-block;
  padding: 0;
  margin-right: -4px;
  position: relative;
}

.mag-glass{
  width: 20px;
  height: 20px;
  float: left;
  position: absolute;
  top: 30px;
  left: 20px;
}

.search-input{
  width: 80%;
  left: 50px;;
  position: absolute;
  top: 30px;
  border: 0;
}

.below-search{
  height: 225px;
  width: 100%;
  background-color: #FFFFFF;
  border-bottom: 2px solid gray;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title-container{
  display: flex;
  flex-direction: column;
  margin-left: 3%;
}

h2{
  margin: 0;
  font-size: 200%;
  font-weight: 400;
}

.title-heading{
  margin-bottom: 15px;
  white-space: nowrap;
}

.location-text{
  margin: 0;
}

.buttons-right{
  margin-left: 40%;
  width: 30%;
  height: 42px;
  display: flex;
}

.right-buttons{
  border-radius: 100%;
  background-color: white;
  border: 2px solid #D9E4EA;
  height: 40px;
  width: 40px;
  margin-left: 3%;
}

.right-button-1{
  background-image: url('images/bookmark.svg');
  background-size: 15px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.right-button-1:hover{
  background-color: #1AA2F2;
  background-image: url('images/bookmark-hover.svg');
}

.right-button-2{
  background-image: url('images/pencil.svg');
  background-size: 15px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.right-button-2:hover{
  background-color: #1AA2F2;
  background-image: url('images/pencil-hover.svg');
}

.right-button-3{
  background-image: url('images/trash.svg');
  background-size: 15px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.right-button-3:hover{
  background-color: #1AA2F2;
  background-image: url('images/trash-hover.svg');
}

.open-button{
  border-radius: 40px;
  width: 85px;
  height: 40px;
  font-size: 12px;
}

.open-button:hover{
  background-color: #1AA2F2;
  color: white;
}

.green-dot-image{
  height: 10px;
  width: 10px;
  margin-right: 5px;
}

.buttons-below{
  display: flex;
  position: absolute;
  top: 250px;
  left: 15%;
  z-index: 1;
  justify-content: flex-start;
}

.button-below-text{
  margin-left: 8%;
  width: auto;
  color: #B0B5BB;
  margin-bottom: 0;
  padding-bottom: 18px;
  cursor: pointer;
  white-space: nowrap;
}

.button-below-text-left{
  margin-left: 8%;
}

.button-below-text:hover{
  color: #64646C;
  border-bottom: 4px solid #19A5F7;
}

.chart-area{
  height: 350px;
  width: 100%;
  background-color: #EDF2F6;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.circle-area{
  width: 45%;
  height: 100%;
  border-bottom: 2px solid gray;
  margin-left: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.total-under-circle{
  margin-left: 33%;
}

.total-under-circle-2{
  margin-left: 0;
}

.under-circle-text{
  margin: 0;
  white-space: nowrap;
  width: 250px;
  height: 45px;
  border-radius: 40px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #6F7E95;
}

.circle{
  height: 175px;
  width: 175px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 50px;
}

.circle-text-top{
  font-size: 250%;
  margin: 0;
  text-align: center;
}

.circle-text-bottom{
  margin: 0;
}

.circle-1{
  border-top: 10px solid #42BDC1;
  border-right: 10px solid #42BDC1;
  border-bottom: 10px solid #DAE5EA;
  border-left: 10px solid #42BDC1;
  transform: rotate(-45deg);
}

.rotate-text-1{
  transform: rotate(45deg);
}

.circle-2{
  border-top: 10px solid #DAE5EA;
  border-right: 10px solid #DAE5EA;
  border-bottom: 10px solid #1AA2F2;
  border-left: 10px solid #1AA2F2;
  transform: rotate(30deg);
}

.rotate-text-2{
  transform: rotate(-30deg);
}

.circle-3{
  border-top: 10px solid #DAE5EA;
  border-right: 10px solid #DAE5EA;
  border-bottom: 10px solid #B16BB4;
  border-left: 10px solid #DAE5EA;
  transform: rotate(45deg);
}

.rotate-text-3{
  transform: rotate(-45deg);
}

.circle-arrow-button{
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #FFFFFF;
  position: absolute;
  left: 48.8%;
  top: 330px;
  background-image: url('images/up-arrow.svg');
  background-size: 13px 13px;
  background-repeat: no-repeat;
  background-position: center;
}

.circle-arrow-button:hover{
  background-image: url('images/up-arrow-hover.svg');
  background-color: #16A4F7;
}

.bar-area{
  width: 45%;
  height: 100%;
  border-bottom: 2px solid gray;
  margin-right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.applicants-per-day{
  width: 200px;
  margin-left: 0;
  margin-right: 25%;
  margin-top: 10px;
}

.graph-image{
  height: 200px;
  width: 475px;
  margin-top: 50px;
  margin-bottom: 10px;
}

.bottom-area{
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.bottom-left{
  width: 60%;
  height: 775px;
  background-color: #FFFFFF;
  margin-top: 50px;
}

.job-description-box{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #FFFFFF;
  height: 70px;
  width: 100%;
  background-color: #6F7E95;
  position: relative;
}

.job-description-text{
  margin-left: 5%;
}

.edit-button{
  height: 30px;
  font-size: 14px;
  position: absolute;
  left: 27%;
}

.job-info-container{
  width: 90%;
  border-bottom: 2px solid #EDF2F6;
  height: 70px;
  display: flex;
  align-items: center;
  margin-left: 5%;
}

.job-info-type{
  width: 20%;
}

.job-info-content{
  margin-left: 5%;
}

.job-info-big-box{
  height: 150px;
  align-items: flex-start;
  padding-top: 13px;
}

.job-info-content-big{
  width: 75%;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 150%;
}

.gavin-img{
  height: 45px;
  width: 45px;
  border-radius: 100%;
}

.gavin-text{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gavin{
  margin-left: 10px;
}

.bottom-right{
  width: 29%;
  height: 708px;
  margin-top: 50px;
}

.post-to-facebook,.post-to-twitter, .post-to-linkedin{
  height: 55px;
  width: 99%;
  background-color: #475993;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.post-to-twitter{
  background-color: #50ABF1;
  margin-top: 20px;
}

.post-to-linkedin{
  background-color: #0381BC;
  margin-top: 20px;
}

.facebook-text{
  color: white;
  font-size: 12px;
  margin-left: 25%;
}

.bottom-right-icons{
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 9px;
  margin-left: 10%;
}

.bottom-right-items{
  height: 170px;
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #DAE4EA;
}

.bottom-right-items-header{
  display: flex;
}

.bottom-right-items-icons{
  width: 20px;
  height: 20px;
  margin-left: 1%;
  margin-right: 5%;
}

h4{
  margin: 0;
  font-weight: 400;
}

.bottom-right-items-text{
  font-size: 12px;
  line-height: 150%;
}

.input-copy-container{
  display: flex;
}

.bottom-right-items-input{
  height: 40px;
  font-size: 12px;
  width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.right-input-2{
  width: 100%;
}

.copy-button{
  width: 30%;
  font-size: 14px;
  background-color: #49B6C2;
  color: white;
  border: none;
}


@media (max-width: 1400px){
  .drop-down-box{
    width: 8%;
  }

  .circle{
    width: 150px;
    height: 150px;
  }

  .search-bar{
    width: 68%;
  }
}

@media(max-width: 1200px){

  .button-below-text{
    font-size: 12px;
  }

  .buttons-right{
    margin-left: 17%;
  }
  .circle{
    width: 120px;
    height: 120px;
  }

  .circle-text-top{
    font-size: 150%;
  }

  .circle-text-bottom{
    font-size: 10px;
  }

  .total-under-circle{
    margin-left: 23%;
  }

  .total-under-circle-2{
    margin-left: 0;
    margin-top: 15px;
  }

  .graph-image{
    width: 350px;
    height: 150px;
  }

  .applicants-per-day{
    margin-left: 0%;
    margin-right: 10%;
  }
}

@media (max-width: 960px){
  .left-bar{
    width: 147px;
  }

  .drop-down-box{
    width: 10%;
  }

  .search-bar{
    width: 60%;
  }

  .chart-area{
    flex-direction: column;
  }

  .circle-area{
    width: 90%;
  }

  .bar-area{
    width: 90%;
  }

  .circle{

  }
}


@media (max-width: 600px){

  body{
    flex-direction: column;
  }

  .left-bar{
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 1;
  }

  .contain{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .user-icon-area{
    height: inherit;
    width: 120px;
  }

  .photo-container{
    width: 80px;
    height: 80px;
    justify-content: center;
  }

  .mobile-top-nav{
    font-size: 80%;
    display: flex;
    justify-content: space-around;
    width: 300px;
    font-size: 70%;
    margin-right: 5%;
  }

  h2{
    margin: 0;
  }

  h6{
    margin: 0;
    display: none;
  }

  .main-left-nav,.admin-left-nav{
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    height: 100px;
  }

  .main-left-nav, .admin-left-nav, .categories-left-nav{
    display: none;
  }

  .photo-container{
    height: 65px;
    width: 65px;
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 10px;
    border: 2px solid #A2ADBF;
  }

  .mobile-top-nav{
    display: flex;
    justify-content: flex-end;
  }

  .mobile-menu-button{
    height: 55px;
    width: 55px;
  }

  .drop-down-box{
    display: none;
  }

  .search-nav{
    height: 40px;
    margin-top: 100px;
    position: fixed;
    z-index: 1;
  }

  .search-bar{
    width: 100%;
  }

  .mag-glass{
    top: 10px;
  }

  .search-input{
    top: 10px;
  }

  .right{
    width: 100%;
  }

  .chart-area{
    flex-direction: column;
    align-items: center;
  }

  .circle-area{
    width: 90%;
    margin-left: 0;
  }

  .bar-area{
    width: 90%;
    margin-right: 0;
  }

  .bottom-area{
    flex-direction: column;
    align-items: center;
  }

  .bottom-left{
    width: 95%;
  }
}
